<div id="<%= dom_id article %>">
  <p>
    <strong>Titulo:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= article.description %>
  </p>

  <p>
    <strong>Fecha/hora:</strong>
    <%= article.when_went %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= article.country_id %>
  </p>

</div>
