<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Editar Articulo", edit_article_path(@article) %> |
  <%= link_to "Volver a los Articulos", articles_path %>

  <%= button_to "Eliminar Articulo", @article, method: :delete %>

  <% Article::Kinds.each do |kind| %>

    <%= button_to "#{Article::KindsSpanish[kind]}", new_user_reaction_path(article_id: @article.id, reaction_type: "article", kind: kind), method: :post %>
  <% end %>

</div>

<%= render 'comments/form' %>
